/* colors */
body {
  /* display: block; */
  /* height: 100vh; */
  background: hsl(232, 22%, 90%);
  color: rgba(95, 17, 232, 1);
}

h1 {
  color:rgba(95, 17, 232, 1);
  background-color: rgb(140, 89, 228);
}
.btn {
  color:rgba(95, 17, 232, 1);
}
.red-fill {
  color: black;
  background-color: rgb(214, 126, 126);
} 
.error-highlight{
  outline: none;
  border-color: 2px #bf3826;
  box-shadow: 0 0 10px red;
} 


section { /* top, right, bottom, left */
  display: inline-block;
  border: 2px solid red;
  vertical-align: text-top;
  margin: 0 10px;
  padding: 0 3% 2% 2% ;
}

.total {
  float: right;
  margin: 0% 0% 0% 0% ;
  vertical-align: bottom;
}

input {
  display: block;
  margin: 3px;
  background: hsl(232, 22%, 90%);
}

#submit-btn {
  float: right;
}

h1 {
  display: block;
  margin: 0 0 5% 0 ;
  padding: 2%;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-size: medium;
  margin: 0 0;
  padding: 0 0 2% 2% ;
}

table {
  width: 90%;
  text-align: left;
  /* border:2px solid #bf3826 */
  margin: 0 0;
  padding: 1% 0 0 2% ;
}
table, 
th, td {
    text-align: left;
    white-space: nowrap;
    /* border: solid black; */
    /* top, right, bottom, left */
    padding:  0 20% 0 2%;
}

